@{
    Pizza pizza1 = new Pizza("Pizza Margherita", "Pizza margherita classica", 10);
    Pizza pizza2 = new Pizza("Pizza Salamino", "Pizza margherita classica", 13);
    Pizza pizza3 = new Pizza("Pizza Tonno e Cipolla", "Pizza margherita classica", 14);
    Pizza pizza4 = new Pizza("Pizza Patate e Wurstel", "Pizza margherita classica", 18);

    ViewData["Title"] = "Home Page";

    var name1 = pizza1.Name;
    var description1 = pizza1.Description;
    var price1 = pizza1.Price;

    var name2 = pizza2.Name;
    var description2 = pizza2.Description;
    var price2 = pizza2.Price;

    var name3 = pizza3.Name;
    var description3 = pizza3.Description;
    var price3 = pizza3.Price;

    var name4 = pizza4.Name;
    var description4 = pizza4.Description;
    var price4 = pizza4.Price;
}
<div class="text-center">
    <h1 class="display-4">La mia Pizzeria</h1>
    <p>test</p>
</div>

<div class="pizza-section">
    <div class="pizza">
        <h1>@name1</h1>
        <p>Descrizione: @description1</p>
        <img class="image" src="~/img/margherita.jpg" alt="pizza margherita"/>
        <p>Prezzo: @price1 €</p>
    </div>
    <div class="pizza">
        <h1>@name2</h1>
        <p>Descrizione: @description2</p>
        <img class="image" src="~/img/salamino.jpg" alt="pizza salamino" />
        <p>Prezzo: @price2 €</p>
    </div>
    <div class="pizza">
        <h1>@name3</h1>
        <p>Descrizione: @description3</p>
        <img class="image" src="~/img/tonno.jpg" alt="pizza tonno" />
        <p>Prezzo: @price3 €</p>
    </div>
    <div class="pizza">
        <h1>@name4</h1>
        <p>Descrizione: @description4</p>
        <img class="image" src="~/img/patate.jpg" alt="pizza patate" />
        <p>Prezzo: @price4 €</p>
    </div>
</div>